body{
    background-color: #3EB489;
    font-family: Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    border-radius: 30px;
}
#title{
    font-size: 40px;
    font-weight: 600;
    font-variant: small-caps;
}

#pad{
    border: 25px solid;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: auto;
    margin: 0px;
    padding: 0px;
    border-color: antiquewhite;  
}

.smallSquares{
    /*40 squares across */
    width: 10px;
    height: 10px;
    border: 1px solid antiquewhite;
    background-color: #FFC0B4;
    min-width: 0px;
    min-height: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

.mediumSquares{
    /*16 squares across */
    width: 25px;
    height: 25px;
    border: 1px solid antiquewhite;
    background-color: #FFC0B4;
    min-width: 0px;
    min-height: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

.largeSquares{
    /*4 squares across */
    width: 100px;
    height: 100px;
    border: 1px solid antiquewhite;
    background-color: #FFC0B4;
    min-width: 0px;
    min-height: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}


#user-selections{
    font-size: 30px;
    font-weight: 800;
    margin-top: 20px;
    font-variant: small-caps;
}

button{
    background-color: antiquewhite;
    height: 50px;
    border-radius: 8px;
    color: #011a1a;
    font-size: 30px;
    font-variant: small-caps;
}

#reset:active{
    background-color: darkmagenta;
}